<!-- tracking.html -->
<div id="map" style="height: 400px;"></div>

<script>
    function initMap() {
        var location = {lat: {{ order.latitude }}, lng: {{ order.longitude }}};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 12,
            center: location
        });
        var marker = new google.maps.Marker({
            position: location,
            map: map
        });
    }
</script>
<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
